## Import Libraries and Functions

In [1]:
import pandas as pd
import numpy as np
import requests
import string
import seaborn as sns
import matplotlib.pyplot as plt
from transformers import pipeline

2023-01-16 22:21:35.521974: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-01-16 22:21:35.670386: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-01-16 22:21:35.670406: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-01-16 22:21:35.701071: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-01-16 22:21:36.347615: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-01-16 22:21:36.347692: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-01-16 22:21:36.347701: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
def book_split(text):
    book = text.split(' ')
    return ' '.join(book[0:len(book)-1])

In [3]:
def printable_string(text):
    filtered_string = ''.join(s for s in text if s in string.printable)
    return filtered_string

In [4]:
BOOKS_OLD_TESTAMENT = [
'Genesis', 'Exodus', 'Leviticus', 'Numbers', 'Deuteronomy', 'Joshua', 'Judges', 'Ruth',
'1 Samuel', '2 Samuel', '1 Kings', '2 Kings', '1 Chronicles', '2 Chronicles', 'Ezra', 'Nehemiah',
'Esther', 'Job', 'Psalms', 'Proverbs', 'Ecclesiastes', 'Song of Solomon', 'Isaiah', 'Jeremiah',
'Lamentations', 'Ezekiel', 'Daniel', 'Hosea', 'Joel', 'Amos', 'Obadiah', 'Jonah',
'Micah', 'Nahum', 'Habakkuk', 'Zephaniah', 'Haggai', 'Zechariah', 'Malachi'
]
BOOKS_NEW_TESTAMENT = [
'Matthew', 'Mark', 'Luke', 'John', 'Acts', 'Romans', '1 Corinthians', '2 Corinthians',
'Galatians', 'Ephesians', 'Philippians', 'Colossians', '1 Thessalonians', '2 Thessalonians', '1 Timothy', '2 Timothy',
'Titus', 'Philemon', 'Hebrews', 'James', '1 Peter', '2 Peter', '1 John', '2 John',
'3 John', 'Jude', 'Revelation'
]

### Data Extraction

In [5]:
bible_url = 'https://bereanbible.com/bsb.txt'

In [6]:
with open('./data/bereanbible.txt', 'r') as f:
    text = f.read()

In [7]:
response = requests.get(bible_url)
raw_bible = response.text

In [8]:
bible_list = raw_bible.splitlines()

In [9]:
bible_array = np.array([item.split('\t') for item in bible_list])

In [10]:
bible_array[:, 1] = np.array([printable_string(verse) for verse in bible_array[:, 1]])

In [11]:
bible_array.shape

(31105, 2)

In [12]:
df = pd.DataFrame(bible_array[3:, :], columns=['reference','text'])

### Data Cleanup

In [13]:
def chapter_split(text):
    reference_list = text.split(' ')
    chapter_verse = reference_list[-1].split(':')
    return int(chapter_verse[0])

In [14]:
df['chapter'] = df['reference'].apply(chapter_split)

In [15]:
df['book'] = df['reference'].apply(book_split)
df['testament'] = df['book'].apply(lambda x: 'OT' if x in BOOKS_OLD_TESTAMENT else 'NT')

In [16]:
df.head()

,reference,text,chapter,book,testament
0,Genesis 1:1,In the beginning God created the heavens and t...,1,Genesis,OT
1,Genesis 1:2,"Now the earth was formless and void, and darkn...",1,Genesis,OT
2,Genesis 1:3,"And God said, Let there be light, and there wa...",1,Genesis,OT
3,Genesis 1:4,"And God saw that the light was good, and He se...",1,Genesis,OT
4,Genesis 1:5,"God called the light day, and the darkness He ...",1,Genesis,OT

## Aggregate Text by Chapter

In [17]:
df_chapter = df[['book', 'chapter', 'text']].groupby(['book', 'chapter'])['text'].apply(lambda x: ' '.join(x))
df_chapter = df_chapter.reset_index()
df_chapter.head()

           book  chapter                                               text
0  1 Chronicles        1  Adam, Seth, Enosh, Kenan, Mahalalel, Jared, En...
1  1 Chronicles        2  These were the sons of Israel: Reuben, Simeon,...
2  1 Chronicles        3  These were the sons of David who were born to ...
3  1 Chronicles        4  The descendants of Judah: Perez, Hezron, Carmi...
4  1 Chronicles        5  These were the sons of Reuben the firstborn of...

## Aggregate Text by Book

In [18]:
df_book = df[['book', 'text']].groupby(['book'])['text'].apply(lambda x: ' '.join(x))
df_book = df_book.reset_index()
df_book.head()

            book                                               text
0   1 Chronicles  Adam, Seth, Enosh, Kenan, Mahalalel, Jared, En...
1  1 Corinthians  Paul, called to be an apostle of Christ Jesus ...
2         1 John  That which was from the beginning, which we ha...
3        1 Kings  Now King David was old and well along in years...
4        1 Peter  Peter, an apostle of Jesus Christ, To the elec...

## Using HuggingFace to Summarize Each Chapter

- *NOTE*: Currently, I am unable to download the summarization model, so I am reverting to GPT-3 in the section below

In [20]:
# summarizer = pipeline("summarization")
# , model="facebook/bart-large-cnn"

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [43]:
# df_chapter['chapter_summary'] = df_chapter['text'].apply(lambda x: summarizer(x,max_length=200, min_length=50, do_sample=False))

### Try hosted endpoint on hugging face

In [56]:
API_URL = "https://api-inference.huggingface.co/models/facebook/bart-large-cnn"
headers = {"Authorization": "Bearer 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"}

def query(payload):
    response = requests.post(API_URL, headers=headers, json=payload)
    return response.json()

In [57]:
john = str(df_book.loc[df_book['book'] == 'John'].text.values[0])

In [58]:
output = query({"inputs": john})

In [59]:
output

[{'summary_text': 'In the beginning was the Word, and the Word was with God, and God was God. Through Him all things were made, and without Him nothing was made that has been made. In Him was life, and that life was the light of men. There came a man who was sent from God. His name was John. He came as a witness to testify about the Light, so that through him everyone might believe.'}]

## Try GPT-3 on OpenAI